[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FFdownload"]
	path = FFdownload
	url = https://github.com/sstoeckl/ffdownload
[submodule "crypto2"]
	path = crypto2
	url = https://github.com/sstoeckl/crypto2
